
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.title{
    color: rgb(255, 0, 123);
    font-weight: bold;
    font-size: larger;
}
body{
    padding: 0 5vw;
}
header{
    height: 80px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.087);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    border-radius: 20px;
}
header .main-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
header .main-menu ul li{
    list-style: none;
    margin: 0px 10px;
}
.login-group{
    display: flex;
}

.login-group div{
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-group div span{
    padding: 5px;
    color: rgb(255, 0, 123);
}
.search{
    position: relative;
}
.search input{
    height:37px;
    width: 350px;
    padding: 0px 20px;
    border: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.041);
    outline: none;

}
.search span{
    position: absolute;
    right: 15px;
    color: rgba(0, 0, 0, 0.811);
    top: 5px;
    color: rgb(255, 0, 123);
}


.search input::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.489);
    font-weight: 500;
}

/* section 1 ------------------------------------------------------- */

.section{
    min-height: calc(100vh - 80px);

}

.section .feature-post{
    margin: 20px 0;
    height: 40vh;
    display: flex;
    align-items: center;
    background-color: rgba(255, 181, 211, 0.208);
    padding: 10px 25px;
}
.section .feature-post .feature-left{
    width: calc(100vw - 5vw - 50vw);
}
.section .feature-post .feature-left h1{
    font-size: 45px;
    
}
.section .feature-post .feature-left button{
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 0, 123);
    color: white;
}
.section .feature-post .feature-right{
    width: calc(100vw - 5vw - 50vw);
    display: flex;
    align-items: center;
    justify-content: center;
}
.section .feature-post .feature-right img{
    height: 40vh;
}